*{
  margin: 0px;
  padding: 0px;
  
}
body{
  background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}
.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 

}
.app-wrapper{
  background-color:steelblue;
  min-width: 350px;
  min-height:600px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
}
.header h1{
  color: aliceblue;
  text-align: center;
  margin: 30px auto 0px;
}
.task-input{
  margin-top: 20px;
  outline: none;
  width: 230px;
  padding: 10px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000;
  border: 1px coral solid;
  border-radius: 10px;
}
.btn-add{
  width: 70px;
  padding: 10px 5px;
  font-size: 22px;
  border-radius: 10px;
  border: 0px;
  background-color: #f1af71;
  cursor: pointer;
}
.list-item{
  display: flex;
  margin: 22px 0;
  border:2px solid #ccc;
  border-radius:10px;
  max-height: 45px;
  
}
.btn-save,.btn-delete,.btn-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border-radius: 50%;
  margin-top: -5px;
  padding: 5px;
}
.btn-save{
  color:#FF6C6C;
  margin-right: 15px;
  margin-left: 2px;
}
.btn-edit{
  color: chocolate;
  margin-right: 12px;
}
.btn-delete{
  color:darkred;
}
.save{
  text-decoration-style:solid ;
  text-decoration-line: line-through;
  text-decoration-color: orangered;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: steelblue;
  border: none;
  color: #ccc;
  font-size: 1.5em;
  font-weight: 500;
  padding-left: 10px;
  margin-right: 15px;
}
.allbtn{
  margin-left: -50px;
}
input:focus,button:focus{
  outline: none;
}